{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "curly": 0,
    "strict": 0
  },
  "globals": {
    "expect": true
  }
}
